@model IEnumerable<TTN_THKids.Models.SanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChatLieu.TenChatLieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhMucSanPham.MaDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KichCo.TenKichCo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThuongHieu.TenThuongHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaChietKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkListAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTinSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongMua)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChatLieu.TenChatLieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMucSanPham.MaDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KichCo.TenKichCo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThuongHieu.TenThuongHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaChietKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkListAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTinSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongMua)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSanPham }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSanPham }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSanPham })
        </td>
    </tr>
}
</table>
<form>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for(int i =0; i < ViewBag.tongTrang; i++ )
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index","SanPhams",new { index = i })">@(i+1)</a></li>
            }
        </ul>
    </nav>
</form>
