@model IEnumerable<TTN_THKids.Models.ThuongHieu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaThuongHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenThuongHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaThuongHieu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenThuongHieu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoDienThoai)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaThuongHieu }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaThuongHieu }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaThuongHieu })
    </td>
</tr>
}

</table>
<form>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 0; i < ViewBag.tongTrang; i++)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index","ThuongHieux",new { index = i })">@(i+1)</a></li>
            }
        </ul>
    </nav>
</form>
